:root {
  --font-family: "Roboto-Bold", Helvetica, sans-serif;
}

@font-face {
  font-family: var(--font-family);
  src: local("/Roboto/Roboto-Bold.woff2") url(/Roboto/Roboto-Bold.woff2)
    format("woff2");
  font-weight: bold, normal;
  font-style: normal;
  font-style: normal;
  font-variant: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: transparent;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.twitch-categories-img-container {
  background: transparent;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  user-select: none;
  cursor: default;
  pointer-events: none;
}

.twitch-categories-img[alt="Twitch Kategorie Bild"] {
  background: transparent;
  width: 540px;
  height: 960px;
  object-fit: cover;
  filter: grayscale(0%) brightness(100%) blur(0px) contrast(100%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.twitch-categories-img {
  background: transparent;
  width: 540px;
  height: 960px;
  object-fit: cover;
  filter: grayscale(1%) brightness(90%) blur(0.5px) contrast(105%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
